{% extends 'base.html.twig' %}

{% block title %}
Detail - {{ parent() }}
{% endblock %}

{% block body %}

<h1>Détail de l'article</h1>

<div class="card text-bg-dark text-center">
    <img src="{{articles[id].image}}" class="card-img" alt="{{articles[id].titre}}">
    <div class="card-img-overlay">
        <h5 class="card-title bg-dark-subtle">{{articles[id].titre}}</h5>
        <p class="card-text bg-dark-subtle">{{articles[id].contenu}}</p>
        <p class="card-text bg-dark-subtle"><small>Auteur : {{articles[id].auteur|upper}}</small></p>
        <p class="card-text bg-dark-subtle"><small>Publié le : {{articles[id].date}}</small></p>
    </div>
</div>

{% endblock %}