{% extends 'base.html.twig' %}

{% block title %}
Detail - {{ parent() }}
{% endblock %}

{% block body %}

<h1>Détail de l'article</h1>

<div class="card text-bg-dark text-center">
    <img src="{{article.image}}" class="card-img" alt="{{article.titre}}">
    <div class="card-img-overlay">
        <h5 class="card-title bg-dark-subtle">{{article.titre}}</h5>
        <p class="card-text bg-dark-subtle">{{article.contenu}}</p>
        <p class="card-text bg-dark-subtle"><small>Publié le : {{article.createAt|date('d/m/Y')}}</small></p>
        <a href="{{ path('app_auteur_show', {'id': article.auteur.id}) }}" class="btn btn-primary">Voir l'auteur</a>
    </div>
</div>

{% endblock %}